---
import Layout from '../layouts/Layout.astro'
import TeamBroken from '../components/TeamBroken.astro'

import { useStoryblokApi } from '@storyblok/astro'
const storyblokApi = useStoryblokApi()

const dev = import.meta.env.DEV

const { data } = await storyblokApi
    .get('cdn/stories/team', {
        // version: 'published', // import.meta.env.DEV ? "draft" : "published",
        version: dev ? 'draft' : 'published',
        cv: 0,
    })
    .catch((e) => {
        console.error('error', e)
        return { data: {} }
    })
const story = data.story

const { blok } = Astro.props
---

<!-- <StoryblokComponent blok={story.content} /> -->
<Layout story_seo={story.content.seo}>
    <section id="mbp__header" class="mbp__header">
        <div class="mbp__wrapper">
            <h1 class="mbp__title">
                <span>{story.content.titulo[0].titulo1}</span>
                <span>{story.content.titulo[0].titulo2}</span>
                <span>{story.content.titulo[0].titulo3}</span>
            </h1>
        </div>
    </section>
    <section class="team_people mbp__wrapper">
        <div class="team_people_grid">
            {
                story.content.teams.map((team) => {
                    return <TeamBroken media={team} />
                })
            }
        </div>
    </section>
</Layout>
