---
import { renderRichText } from '@storyblok/astro'
import { Image } from 'astro:assets'
const { proyecto } = Astro.props
---

<div class="menu__item">
    <a class="menu__item-link">{proyecto.content.nombre}</a>
    <div class="menu__item_imgs">
        <Image
            class="menu__item-img img_1"
            src={proyecto.content.home[0].media1.filename + '/m/500x600'}
            alt={proyecto.content.nombre}
            width="500"
            height="600"
        />
        <Image
            class="menu__item-img img_2"
            src={proyecto.content.home[0].media2.filename + '/m/500x600'}
            alt={proyecto.content.nombre}
            width="500"
            height="600"
        />
        <Image
            class="menu__item-img img_3"
            src={proyecto.content.home[0].media3.filename + '/m/500x600'}
            alt={proyecto.content.nombre}
            width="500"
            height="600"
        />
    </div>
    <div class="marquee">
        <div class="marquee__inner" aria-hidden="true">
            <span>{proyecto.content.cliente}</span>
            <b>{proyecto.content.nombre}</b>
            <span>{proyecto.content.cliente}</span>
            <b>{proyecto.content.nombre}</b>
            <span>{proyecto.content.cliente}</span>
            <b>{proyecto.content.nombre}</b>
            <span>{proyecto.content.cliente}</span>
            <b>{proyecto.content.nombre}</b>
        </div>
    </div>
    <div class="menu__item_text" set:html={renderRichText(proyecto.content.intro)}>Showreel</div>
</div>

<style>
    .menu__item {
        @apply relative w-full cursor-default;

        .menu__item-link {
            -webkit-text-stroke: 0.5px var(--color-primary-400);
            text-stroke: 0.5px var(--color-primary-400);
            -webkit-text-fill-color: transparent;
            text-fill-color: transparent;
            color: transparent;
            transition: all 0.4s;
            @apply container relative mx-auto flex cursor-pointer flex-row items-start justify-start gap-2 text-nowrap font-head text-[5vw] font-thin uppercase leading-none;
            &:hover {
                @apply -translate-x-7 opacity-0 duration-[0.4s];
            }
            &::before {
                all: initial;
                counter-increment: menu;
                content: counter(menu);
                pointer-events: none;
                @apply block font-monospace;
            }
        }
        .menu__item_text {
            @apply container mx-auto select-none opacity-10;
        }
        .menu__item_imgs {
            @apply pointer-events-none absolute left-0 top-[50%] flex h-[30vh] max-h-[600px] w-screen flex-row justify-end opacity-0;
            .menu__item-img {
                @apply pointer-events-none aspect-home h-full  object-cover opacity-0 transition-all duration-500;
                &.img_1 {
                    transform: translate3d(50%, -30%, 0) translate3d(0, 20px, 0);
                    @apply max-w-[16vw] delay-0;
                }
                &.img_2 {
                    transform: translate3d(50%, -30%, 0) translate3d(0, 20px, 0);
                    @apply max-w-[20vw] delay-200;
                }
                &.img_3 {
                    transform: translate3d(50%, -30%, 0) translate3d(0, 20px, 0);
                    @apply max-w-[14vw] delay-500;
                }
            }
        }
    }
    .menu__item-link:hover + .menu__item_imgs {
        transition: all 0.4s;
        @apply opacity-100;
        .menu__item-img {
            @apply opacity-100;
            &.img_1 {
                transform: translate3d(20%, -30%, 0) rotate3d(0, 0, 1, -4deg);
            }
            &.img_2 {
                transform: translate3d(10%, -40%, 0) rotate3d(0, 0, 1, 4deg);
            }
            &.img_3 {
                transform: translate3d(0%, -20%, 0) rotate3d(0, 0, 1, -4deg);
            }
        }
    }

    .marquee {
        width: var(--marquee-width);
        @apply pointer-events-none absolute left-0 top-0 -rotate-2 overflow-hidden leading-relaxed mix-blend-color-burn;
        .marquee__inner {
            transform: translate3d(var(--move-initial), 0, 0);
            animation: marquee 10s linear infinite;
            animation-play-state: paused;
            transition: opacity 0.1s;
            @apply relative flex w-fit gap-4 text-[5vw]  opacity-0;
            b {
                @apply text-nowrap text-center font-monospace font-thin uppercase leading-none text-primary;
            }
            span {
                @apply text-nowrap text-center font-head uppercase leading-none text-primary;
            }
        }
    }

    .menu__item-link:hover ~ .marquee .marquee__inner {
        animation-play-state: running;
        opacity: 1;
        transition-duration: 0.4s;
    }

    .menu__item-link:hover ~ .menu__item_text {
        opacity: 1;
        transition-duration: 0.4s;
    }

    @keyframes marquee {
        0% {
            transform: translate3d(var(--move-initial), 0, 0);
        }

        100% {
            transform: translate3d(var(--move-final), 0, 0);
        }
    }
</style>
