---
import Layout from '../../layouts/Layout.astro'
import ProjectWork from '../../components/ProjectWork.astro'

import { useStoryblokApi } from '@storyblok/astro'
const storyblokApi = useStoryblokApi()

const { data } = await storyblokApi
    .get('cdn/stories/work', {
        version: 'published', // import.meta.env.DEV ? "draft" : "published",
        resolve_relations: 'work.proyectos',
    })
    .catch((e) => {
        console.error(e)
        return { data: {} }
    })
const story = data.story
---

<!-- <StoryblokComponent blok={story.content} /> -->
<Layout story_seo={story.content.seo}>
    <section id="mbp__header" class="mbp__header">
        <div class="mbp__wrapper">
            <h1 class="mbp__title">
                <span>{story.content.titulo[0].titulo1}</span>
                <span>{story.content.titulo[0].titulo2}</span>
                <span>{story.content.titulo[0].titulo3}</span>
            </h1>
        </div>
    </section>
    <section id="mbp__projects" class="mbp__projects">
        <div class="menu">
            {
                story.content.proyectos.map((proyecto, index) => {
                    return <ProjectWork proyecto={proyecto} par={index % 2 == 0} />
                })
            }
        </div>
    </section>
</Layout>
